{% extends "base-cliente.html" %}
{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Comentarios y Sugerencias</h2>
    <form method='post'>
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" name='nombre' id="nombre" placeholder="Nombre">
        </div>
        <div class="form-group">
            <label for="correo">Correo</label>
            <input type="email" class="form-control" name='correo' id="correo" placeholder="Correo">
        </div>
        <div class="form-group">
            <label for="mensaje">Mensaje</label>
            <textarea class="form-control" id="mensaje" rows="4" placeholder="Escribe tu mensaje aquí"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Enviar Comentario</button>
    </form>
</div>

<!-- Enlace a los scripts de Bootstrap y jQuery desde CDN -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

{% endblock content %}