{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>SurWave Telecom: Innovación en Telecomunicaciones </title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        {% block navbar %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="{% url 'index' %}">SurWave Telecom</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Navigation Items -->
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'index' %}">Principal</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Preguntas Frecuentes
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#!">Horarios de Atención</a></li>
                                <li><a class="dropdown-item" href="#">Consultas</a></li>
                                <li><a class="dropdown-item" href="#">Acerca de Nosotros</a></li>
                                <li><a class="dropdown-item" href="#">Contacto</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Servicios
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'planes_internet' %}">Internet</a></li>
                                <li><a class="dropdown-item" href="{% url 'planes_television' %}">Televisión</a></li>
                                <li><a class="dropdown-item" href="{% url 'planes_telefonia' %}">Telefonía</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'registro' %}">Registrarse</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        {% endblock navbar %}
        
        {% block content %}
        <!-- Page Content-->
        <div class="container px-4 px-lg-5">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="row gx-4 gx-lg-5 align-items-center my-5 justify-content-center">
                    <div class="col-lg-12">
                        <h1 class="font-weight-light text-center">SurWave: Innovación en Telecomunicaciones</h1>
                        <p class="text-center">"Conectando horizontes, acercando mundos. SurWave es la vanguardia de la comunicación global, donde cada señal nos lleva más allá de lo imaginable. Experimenta la revolución de la conectividad con soluciones que transforman el presente en el futuro de las telecomunicaciones."</p>
                        <div class="text-center">
                            <a class="btn btn-primary" href="{% url 'registro' %}">Únete a Nosotros</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Call to Action-->
            
            <!-- Content Row-->
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="bg-dark text-white text-center py-2">Planes Internet</div>
                        <img src="{% static 'images/internet.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'planes_internet' %}">+ Internet</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="bg-dark text-white text-center py-2">Planes Telefonía</div>
                        <img src="{% static 'images/telefono canales.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'planes_telefonia' %}">+ Telefonía</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="bg-dark text-white text-center py-2">Planes Televisión</div>
                        <img src="{% static 'images/tv canales.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'planes_television' %}">+ Televisión</a></div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock content %}
        {% block footer %}
        <footer class="py-5 bg-dark">
            <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; SurWave Telecom 2023</p></div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="js/scripts.js"></script>
        {% endblock footer %}
    </body>
</html>

