{% extends 'base-admin.html' %}

{% block content %}
    <div class="container bg-dark-subtle px-3 py-2 my-2">
        <h1 class="mb-2 text-center">Lista Planes de Internet </h1>
        <table class="table text-center table-dark table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Velocidad</th>
                    <th scope="col">Precio Mensual</th>
                    <th scope="col">Tiempo Contrato</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for plan in planesInternet %}
                <tr>
                    <td>{{plan.id}}</td>
                    <td>{{plan.nombre}}</td>
                    <td>{{plan.velocidad}}</td>
                    <td>{{plan.precio_mensual}}</td>
                    <td>{{plan.tiempo_contrato}}</td>
                    <td>{{plan.descripcion}}</td>
                    <td>
                        <a href="/editar_plan_internet/{{plan.id}}" class="btn btn-success">Editar</a>
                        <a href="/eliminarPlanInternet/{{plan.id}}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
    