{% load static%}
<style>
    .nav-item{
        padding-left: 2vw;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark m-0 px-3">
    <div class="container py-3 px-3">
        <a class="navbar-brand pe-2" href="{% url 'cliente_dashboard' %}">SurWave Telecom</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
        aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'cliente_dashboard' %}">Principal</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Servicios
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'planes_internet_cliente' %}">Internet</a></li>
                        <li><a class="dropdown-item" href="{% url 'planes_television_cliente' %}">Televisión</a></li>
                        <li><a class="dropdown-item" href="{% url 'planes_telefonia_cliente' %}">Telefonía</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'cerrar_sesion' %}">Cerrar Sesion</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="user-initials"></span>{{user.nombre}} {{user.apellido}}
                    </a>
                    
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'editar_perfil' user.id %}">Editar Datos de Cuenta</a></li>
                        <li><a class="dropdown-item" href="{% url 'enviar_comentario' %}">Enviar Comentarios</a></li>  
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>