*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
/*cards planes*/
.container-card{
	width: 100%;
	display: flex;
	max-width: 1100px;
	margin: auto;
}
.title-cards{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 70px;
	margin-top: 20px;
	text-align: center;
	color: black;
	font-size: 30px;
}
.card{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
	
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.card img{
	width: 100%;
	height: 210px;
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
}
.card .contenido-card{
	padding: 15px;
	text-align: center;
	
}
.card .contenido-card h3{
	margin-bottom: 15px;
	color: black;
}
.card .contenido-card p{
	line-height: 1.8;
	color: black;
	font-size: 14px;
	margin-bottom: 5px;
}
.card .contenido-card a{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: black;
	border: 1px solid #3040d0;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}
.card .contenido-card a:hover{
	background: #4169e1;
	color: #fff;
}

/*card barra superior*/

nav {
	float: center;
}
  
nav ul li {
	list-style:none;
	margin-left: 25px;
	padding: 10px 5px;
	float: left;
	position:relative;
}
  
nav ul li a {
	text-decoration: none;
	color: #191919;
	font-weight: bold;
}
  
nav ul li a::before {
	display: block;
	content: '';
	width: 0%;
	background: #444;
	height: 5px;
	top:0;
	position: absolute;
	transition: width 0.2s;
}
  
nav ul li a:hover::before {
	width: 100%;
}

header img {
  width: 50px;
  height: 50px;
  margin-top: px;
  float: left;
  padding: 8px;
  border-radius: 30%;
  border: 1px solid rgba(255, 255, 255, 0)}

nav button {
	list-style:none;
	margin-left: 25px;
	padding: 10px 5px;
	float: left;
	position:relative;
}